<launch>
    <arg name="fcu_param_file" default="$(find asctec_hl_interface)/launch/fcu_parameters.yaml" />
    <arg name="ssdk_param_file" default="$(find asctec_hl_interface)/launch/ssdk_parameters.yaml" />
    <node name="fcu" pkg="asctec_hl_interface" type="hl_node" output="screen" clear_params="true">
        <rosparam file="$(arg fcu_param_file)" />
        <rosparam file="$(arg ssdk_param_file)" />
    </node>
</launch>
